[Unit]
Description=Deepin Remote Desktop Share Screen Daemon

# TODO DBus type
[Service]
Type=simple
StandardError=journal
StandardOutput=journal
ExecStart=/usr/bin/deepin-remote-desktop --mode user --config /usr/share/deepin-remote-desktop/config.d/default-user.ini

[Install]
WantedBy=graphical-session-pre.target